In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\pc\.conda\envs\pyton\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\pc\.conda\envs\pyton\lib\site-packages (from pandas) (1.26.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\pc\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\.conda\envs\pyton\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pc\.conda\envs\pyton\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\pc\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import pandas as pd
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding="latin-1")

In [20]:
import pandas as pd

# Display the first few rows of the DataFrame
print("First few rows:")
print(df.head())

# Display the last few rows of the DataFrame
print("\nLast few rows:")
print(df.tail())

# Display summary information about the DataFrame
print("\nDataFrame info:")
print(df.info())

# Generate descriptive statistics for numerical columns
print("\nDescriptive statistics:")
print(df.describe())

# Display the column names
print("\nColumn names:")
print(df.columns)

First few rows:
   Area Code     Area  Item Code         Item  Element Code  \
0          4  Algeria       2501   Population           511
1          4  Algeria       2501   Population          5301
2          4  Algeria       2901  Grand Total           664
3          4  Algeria       2901  Grand Total           674
4          4  Algeria       2901  Grand Total           684

                                  Element             Unit     Y2014  \
0           Total Population - Both sexes     1000 persons  38924.00
1                Domestic supply quantity      1000 tonnes      0.00
2           Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3  Protein supply quantity (g/capita/day)     g/capita/day     94.90
4      Fat supply quantity (g/capita/day)     g/capita/day     80.06

      Y2015     Y2016     Y2017     Y2018
0  39728.00  40551.00  41389.00  42228.00
1      0.00      0.00      0.00      0.00
2   3379.00   3372.00   3341.00   3322.00
3     94.35     94.72     92.82     91.83
4     79.36     77.40     80.19     77.28

Last few rows:
       Area Code      Area  Item Code           Item  Element Code  \
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit  Y2014  Y2015  \
60938                                    Food      1000 tonnes  42.00  46.00
60939     Food supply quantity (kg/capita/yr)               kg   3.06   3.33
60940           Food supply (kcal/capita/day)  kcal/capita/day   3.00   4.00
60941  Protein supply quantity (g/capita/day)     g/capita/day   0.10   0.11
60942      Fat supply quantity (g/capita/day)     g/capita/day   0.04   0.05

       Y2016  Y2017  Y2018
60938  33.00  19.00  16.00
60939   2.35   1.33   1.08
60940   3.00   1.00   1.00
60941   0.08   0.04   0.04
60942   0.03   0.02   0.01

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB
None

Descriptive statistics:
          Area Code     Item Code  Element Code          Y2014          Y2015  \
count  60943.000000  60943.000000  60943.000000   59354.000000   59395.000000
mean     134.265576   2687.176706   3814.856456     134.196282     135.235966
std       72.605709    146.055739   2212.007033    1567.663696    1603.403984
min        4.000000   2501.000000    511.000000   -1796.000000   -3161.000000
25%       74.000000   2562.000000    684.000000       0.000000       0.000000
50%      136.000000   2630.000000   5142.000000       0.090000       0.080000
75%      195.000000   2775.000000   5511.000000       8.340000       8.460000
max      276.000000   2961.000000   5911.000000  176405.000000  181137.000000

               Y2016          Y2017          Y2018
count   59408.000000   59437.000000   59507.000000
mean      136.555222     140.917765     143.758381
std      1640.007194    1671.862359    1710.782658
min     -3225.000000   -1582.000000   -3396.000000
25%         0.000000       0.000000       0.000000
50%         0.080000       0.100000       0.070000
75%         8.430000       9.000000       9.000000
max    185960.000000  190873.000000  195875.000000

Column names:
Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [7]:
import pandas as pd

# Selecting columns 'Y2017' and 'Area'
selected_data = df[['Y2017', 'Area']]

# Grouping by 'Area' and calculating the sum for 'Y2017'
sum_by_area = selected_data.groupby('Area')['Y2017'].sum()

# Finding the area with the highest sum in 2017
area_with_highest_sum = sum_by_area.idxmax()

print("Area with the highest sum in 2017:", area_with_highest_sum)

Area with the highest sum in 2017: Nigeria

What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

In [8]:
S = [['him', 'sell'], [90, 28, 43]]

output = S[0][1][1]
print(output)

e

In [ ]:
Given the following numpy array 

array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

How would you select  the elements in bold and italics from the array?

In [13]:
import numpy as np

# Given numpy array
array = np.array([[94, 89, 63], [93, 92, 48], [92, 94, 56]])

# Selecting the elements in bold and italics
selected_elements = array[:2, 1:]

print("Selected elements:")
print(selected_elements)

Selected elements:
[[89 63]
 [92 48]]

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [10]:
import pandas as pd

# Selecting columns 'Y2017' and 'Area'
selected_data = df[['Y2017', 'Area']]

# Grouping by 'Area' and calculating the sum for 'Y2017' for each area
sum_by_area = selected_data.groupby('Area')['Y2017'].sum()

# Sorting the resulting DataFrame by the sum of 'Y2017' in ascending order
sorted_sum_by_area = sum_by_area.sort_values()

# Selecting the area with the 7th lowest sum in 2017
seventh_lowest_area = sorted_sum_by_area.index[6]

print("Area with the 7th lowest sum in 2017:", seventh_lowest_area)

Area with the 7th lowest sum in 2017: Guinea-Bissau

If you have the following list

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = [‘Age’,’Nationality’,’Overall’]

How do you create a pandas DataFrame using this list, to look like the table below?

In [12]:
pd.DataFrame(lst, columns=col, index=[i for i in range(1,4)])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [28]:
# number and percentage of missing data in 2014
missing_count = df['Y2014'].isnull().sum()

total_entries = df['Y2014'].shape[0]

percentage_missing = (missing_count / total_entries) * 100

print(missing_count)
print("Percentage of missing data in 2014: {:.3f}%".format(percentage_missing))

1589
Percentage of missing data in 2014: 2.607%

Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Wine produced in 2015 and 2018 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’

In [31]:
wine_production = df[df['Item'] == 'Wine']

wine_2015_sum = wine_production['Y2015'].sum()
wine_2018_sum = wine_production['Y2018'].sum()

print (wine_2015_sum)
print (wine_2018_sum)

4251.8099999999995
4039.3199999999997

In [21]:

# Filter the DataFrame for rows where the 'Element' column contains 'Stock Variation'
stock_variation_data = df[df['Element'] == 'Stock Variation']

# Group the filtered data by the 'Element' column and calculate the sum of each year
sum_by_year = stock_variation_data.groupby('Element')[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()

# Find the year with the highest sum
year_highest_sum = sum_by_year.idxmax(axis=1)[0]  # Assuming there's only one row

print("Year with the highest sum of Stock Variation:", year_highest_sum)

Year with the highest sum of Stock Variation: Y2014

C:\Users\PC\AppData\Local\Temp\ipykernel_316\168998054.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  year_highest_sum = sum_by_year.idxmax(axis=1)[0]  # Assuming there's only one row

In [23]:
year_2017_data = df['Y2017']

# Calculate the mean and standard deviation of the values in this column
mean_2017 = year_2017_data.mean()
std_dev_2017 = year_2017_data.std()

# Round the mean and standard deviation to 2 decimal places
mean_2017 = round(mean_2017, 2)
std_dev_2017 = round(std_dev_2017, 2)

print("Mean for the year 2017:", mean_2017)
print("Standard deviation for the year 2017:", std_dev_2017)

Mean for the year 2017: 140.92
Standard deviation for the year 2017: 1671.86

What is the total Protein supply quantity in Madagascar in 2015?

In [27]:
# protein supply quantity in Madagascar 2015
protein_madagascar_2015 = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]['Y2015']

total_protein_madagascar_2015 = protein_madagascar_2015.sum()

total_protein_madagascar_2015

173.04999999999998

What is the total number of unique countries in the dataset?

In [25]:
# Assuming df is your DataFrame
# Count the number of unique countries in the 'Area' column
total_unique_countries = df['Area'].nunique()

print("Total number of unique countries in the dataset:", total_unique_countries)

Total number of unique countries in the dataset: 49

Which year had the least correlation with ‘Element Code’?

In [26]:

correlation_with_element_code = df[['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].corr()['Element Code']

# Drop 'Element Code' itself from the correlation results
correlation_with_element_code = correlation_with_element_code.drop('Element Code')

# Find the year with the least correlation
least_correlated_year = correlation_with_element_code.idxmin()

print("Year with the least correlation with 'Element Code':", least_correlated_year)

Year with the least correlation with 'Element Code': Y2016